.app{
min-height: 100vh;
background: rgb(63, 160, 192);
display: flex;
justify-content: space-around;
align-items: center;
}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
color: rgb(112, 14, 14);
font-size: 50px;


}


